@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 7px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin: 10px;
}

a {
  text-decoration: none;
  color: #646161;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
}

.footer {
  background-color: #eeeeee;
}

.left-links, .right-links {
  display: flex;
  list-style-type: none;
  gap:10px;
  padding: 0px 10px;
}

.content {
  text-align: center;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}