body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0px;
}

ul li {
  margin: 10px;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  font-weight: 900;
  font-size: x-large;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  text-align: center;

}

.footer p {
  vertical-align: middle;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex-shrink: 0;
  text-align: left;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  flex-basis: auto;
  min-height: 200px;
  width: 300px;
  margin: 15px;
  flex-shrink: 0;
  padding: 8px;
}

.cards {
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding:20px;
}

.content {
  display: flex;
  padding: auto;
  flex: 1;
}