body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
}

.header, .footer {
    font-size: 14px;
    background-color: #1F2937;
    height: 50px;
    color: white;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px;
}

.header h1 {
    font-size: 24px;
    color: #F9FAF8;
    padding: 0px;
}

.header ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.content {
    display: flex;
    flex-direction: column;
}

.section {
    flex: 1;
    min-height: 300px;
    align-items: center;
    padding: 50px 150px;
}

.signup {
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: #1F2937;
    text-align: left;
    gap: 20px;
}

.signup h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0px;
}

.signup p {
    font-size: 18px;
    color: #E5E7EB
}

.signup img {
    height: 200px;
    width: 400px;
}

.signup button {
    font-weight: 900;
    background-color: #3882F6;
    border: 0px;
    color: #F9FAF8;
    padding: 10px 30px;
    border-radius: 5px;

}

.randoinfo h3 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.randoinfo ul {
    display:flex;
    flex-direction: row;
    flex: 1;
    gap: 30px;
    align-items:flex-start;
    list-style-type: none;
    text-align: center;
    text-wrap: balance;
}

.randoinfo li {
    width: 160px;
}

.randoinfo img {

    width: 150px;
    height: 150px;
    background-color: transparent;
    border: 3px solid #3882F6;
    border-radius: 5px;
}

.quote {
    background-color: #E5E7EB;
}

#quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    padding-bottom: 0px;
}

#quoted {
    font-size: 16px;
    font-weight: 300;
    align-self: flex-end;
}

.call{
    display: flex;
    flex-direction: row;
    color: #F9FAF8;
}

.call span {
    background-color: #3882F6;
    border-radius: 5px;
    padding: 45px;
    width: 100%;
}

.call span .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.call h3 {
    margin: 0px;
}

.call button {
    color:#F9FAF8;
    background-color: #3882F6;
    border-color: #F9FAF8;
    border-radius: 5px;
    padding: 5px 20px;

}

.footer {
    justify-content: center;
}