/* Add CSS Styling */

.button {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.blackButton {
    background-color: #000000;
    color: #FFFFFF;
}

.yellowButton {
    background-color: yellow;
}