body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
  width: auto;
  margin: 10px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  margin: 20px auto 10px auto;
  font-size: 16px;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  margin: 10px auto;
  padding: 20px 10px;
}

.button-container {
  background: #e3f4ff;
  margin: auto;
  text-align: center;
  padding:10px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: auto;
}